@model PagedList.IPagedList<QuanLyThuVien.Models.Publisher>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    ViewBag.UserName = Session["Name"];
    Layout = "~/Views/Shared/_AfterLoginLayoutPage.cshtml";
}

<h2>Publisher</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* Search by name *@
@using (Html.BeginForm("Index", "Publisher", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intro)
        </th>
        <th></th>
    </tr>*@
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.UidSortParm, currentFitler = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.NameSortParm, currentFitler = ViewBag.CurrentFilter })
        </th>
        <th>
            Phone
        </th>
        <th>
            Intro
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @{ 
                var shortIntro = item.Intro;
                if (item.Intro.Length > 150) {
                    shortIntro = item.Intro.Substring(0, 150);
                    shortIntro = shortIntro + "...";
                }
            }
            @Html.DisplayFor(modelItem => shortIntro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<div style="position: fixed; bottom: 0">
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
